<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>demo1.helloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>login1</servlet-name>
		<servlet-class>demo1.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login1</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginRegister</servlet-name>
		<servlet-class>com.cyw.servlet.LoginRegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginRegister</servlet-name>
		<url-pattern>/LoginRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewsReleaseServlet</servlet-name>
		<servlet-class>com.cyw.servlet.NewsReleaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsReleaseServlet</servlet-name>
		<url-pattern>/admin/NewsReleaseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewsUpdateServlet</servlet-name>
		<servlet-class>com.cyw.servlet.NewsUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsUpdateServlet</servlet-name>
		<url-pattern>/admin/NewsUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewsDeleteServlet</servlet-name>
		<servlet-class>com.cyw.servlet.NewsDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsDeleteServlet</servlet-name>
		<url-pattern>/admin/NewsDeleteServlet</url-pattern>
	</servlet-mapping>
</web-app>