* {
    margin: 0;
    padding: 0;
}
.top {
    border-bottom: 2px solid #616dff;
}
/*.nav{
    !*height: 90%;*!
    border: 2px solid #616dff;
}*/
.content{
    height: 80%;
    border-left: 2px solid #616dff;
}
.bottom{
    border: 2px solid #616dff;
}
.col-center-block{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-center{
    text-align: center;
}
.path{
    border-bottom: 2px solid #616dff;
}